{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>User</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|first|replace({'ROLE' : "", '_' : " "}) }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ user.fonction }}</td>
            </tr>
            <tr>
                <th>Date d'entrée</th>
                <td>{{ user.entryDate ? user.entryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>Photo de profil</th>
                <td>{{ user.userPicture }}</td>
            </tr>
            <tr>
                <th>LinkedIn</th>
                <td>{{ user.linkedin }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ user.facebook }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {% if user.status == 1 %}
                        Actif
                    {% else %}
                        Inactif
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">
            <button class="btn form-button">{{ button_label|default('Editer') }}</button>
        </a><br>

        {{ include('admin/user/_delete_form.html.twig') }}

        <a href="{{ path('admin_user_index') }}"><button class="btn form-button">Retour à la liste</button></a>

    </div>
{% endblock %}
