{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="bloc_page_profile">
        <div class="container-profile">
            <img class="profile-img-white-paint-mobile"
                 src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
            <div class="profile-name-mobile">
                <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            </div>
            <div class="container-vertical-green-line-top">
                <div class="vertical-green-line-top"></div>
            </div>
            <div class="container-card-img-infos">
                <div class="container-profile-img">
                    <img class="profile-img-scotch-top" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                         alt="Morceau de scotch">
                    <div class="container-img-frame">
                        {% if user.userPicture %}
                            <img class="profile-img" src="{{ vich_uploader_asset(user, 'pictureFile') | imagine_filter('thumb') }}" alt="Image utilisateur">
                        {% endif %}
                        <img class="profile-yellow-frame-bottom"
                             src="{{ asset('img/profile/fiche_benevole_cadre.png') }}"
                             alt="cadre jaune">
                        <img class="profile-yellow-frame-top rotation180"
                             src="{{ asset('img/profile/fiche_benevole_cadre.png') }}" alt="cadre jaune">
                    </div>
                    <img class="profile-img-scotch-bottom" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                         alt="Morceau de scotch">
                </div>
                <div class="container-profile-infos">
                    <img class="profile-img-white-paint-desktop"
                         src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
                    <div class="profile-name-desktop">
                        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
                    </div>
                    <div class="profile-function">
                        <h3 class="text-center">{{ user.fonction }}</h3>
                    </div>
                    <div class="container-profile-contact-detail">
                        <div class="profile-details">
                            <div class="details container-center">
                                <h3>COORDONNÉES</h3>
                                <p>{{ user.email }}</p>
                                <p>
                                    Facebook: <span>{{ user.facebook }}</span> | Linkedin:
                                    <span>{{ user.linkedin }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-infos-bio-work">
                <div class="container-infos-bio">
                    <span class="green-line-top"></span>
                    <div class="bio-text">
                        <p>{{ user.description }}</p>
                    </div>
                    <span class="green-line-bottom"></span>
                </div>
                <div class="container-infos-work">
                    <div class="title-infos-work">
                        <img class="profile-img-green-paint-desktop"
                             src="{{ asset('img/profile/fiche_benevole_peinture.png') }}" alt="Peinture verte">
                        <h1>A travaillé sur</h1>
                    </div>
                    <div class="container-work-on">
                        <ul class="list-work-on">
                            {% if action is defined %}
                                {% for action in actions %}
                                    <li>
                                        <h1>
                                            {{ action.name }}<br/>
                                        </h1>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-green-skills">
                <div class="green-skills-left">
                    <div class="title-green-skills"><h3>GREEN SKILLS</h3></div>
                    <div class="circles">
                        <div class="container-circle-green-1">
                            <div class="circle-green-1"></div>
                            <h5>DIY lessive, produit vaisselle et dentifrice</h5>
                        </div>
                        <div class="container-circle-yellow">
                            <div class="circle-yellow"></div>
                            <h5>Minimaliste - professionnelle du rangement</h5>
                        </div>
                        <div class="yellow-line">
                            <div class="container-circle-green-2">
                                <div class="circle-green-2"></div>
                                <h5>Troisième exemple de green skills que je n'ai pas ?</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-green-line-bottom"></div>
                <div class="green-skills-right">
                    <img class="img-lemon"
                         src="{{ asset('img/profile/fiche_benevole_citron.png') }}" alt="Citron jaune">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
