{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="bloc_page_profile">
        <div class="container-profile">
            <img class="profile-img-white-paint-mobile"
                 src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
            <div class="profile-name-mobile">
                <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            </div>
            <div class="container-profile-img">
                <img class="profile-img-scotch-top" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                     alt="Morceau de scotch">
                <div class="container-img-frame">
                    <img class="profile-img" src="{{ user.userPicture }}" alt="Image utilisateur">
                    <img class="profile-yellow-frame-bottom" src="{{ asset('img/profile/fiche_benevole_cadre.png') }}"
                         alt="cadre jaune">
                    <img class="profile-yellow-frame-top rotation180"
                         src="{{ asset('img/profile/fiche_benevole_cadre.png') }}" alt="cadre jaune">
                </div>
                <img class="profile-img-scotch-bottom" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                     alt="Morceau de scotch">
            </div>
            <div class="container-profile-infos">
                <img class="profile-img-white-paint-desktop"
                     src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
                <div class="profile-name-desktop">
                    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
                </div>
                <div class="profile-function">
                    <h3 class="text-center">VOLONTAIRE EN SERVICE CIVIQUE</h3>
                </div>
                <div class="container-profile-contact-detail">
                    <div class="profile-details">
                        <div class="details container-center">
                            <h3>COORDONNÉES</h3>
                            <p>{{ user.email }}</p>
                            <p>Facebook: {{ user.facebook }} | Linkedin: {{ user.linkedin }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
