{% extends 'base.html.twig' %}

{% block title %}Historique de The Greener Good{% endblock %}

{% block body %}

<div class="event-green-background">
    <figure class="event-title-container">
        <img class="event-paint" src="{{ asset("../img/timeline/historique_peinture.png") }}">
        <figcaption>Historique de The Greener Good</figcaption>
    </figure>

    <div class="event-white-background">
        {# Display of the form to add a new event #}
        <div id="accordion" class="event-accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 d-flex justify-content-end">
                        <button class="btn btn-link event-button-plus" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <img class="event-plus" src="{{ asset("../img/timeline/historique_plus.png") }}">
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {# add form here #}
                        {{ include('event/_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>

        <div class="timeline">
            {% for event in events %}
                {% if loop.index is odd %}

                    <div class="container timeline-left">
                                <div class="event-left {% if event.target == 'external' %} timeline-external {% elseif event.target == 'internal' %} timeline-internal {% endif %}">
                                    <div class="font-weight-bold">{{ event.startDate ? event.startDate|date('d M Y') : '' }}{% if event.endDate %}  - {{ event.endDate|date('d M Y') }}{% endif %}</div>
                                    <div>{{ event.name }}</div>
                                    <div>{{ event.description }}</div>
                                </div>
                        <div class="dash-left"></div>
                    </div>

                {% elseif loop.index is even %}

                    <div class="container timeline-right">
                        <div class="event-right {% if event.target == 'external' %} timeline-external {% elseif event.target == 'internal' %} timeline-internal {% endif %}">
                            <div class="font-weight-bold">{{ event.startDate ? event.startDate|date('d M Y') : '' }}{% if event.endDate %}  - {{  event.endDate|date('d M Y') }}{% endif %}</div>
                            <div>{{ event.name }}</div>
                            <div>{{ event.description }}</div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}


        </div>

        {% endblock %}
