{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">

            <h1>Nos actions</h1>
            <p class="subtitle">Retrouve ici les différentes initiatives de l'association : événements, outils,
                etc...</p>

            <div class="container">
                <div class="row">
                    <a href="{{ path('action_new') }}">
                        <img class="col action-plus-image" src="{{ asset('../img/action/button_plus.png') }}"
                             alt="Ajouter une fiche action">
                    </a>
                    <a href="{{ path('action_new') }}" class="col-6 create-action greenOnYellow">Créer une fiche
                        ACTION</a>
                </div>

                <div class="col-sm-4 col-md-2 dropdown ml-auto d-flex align-items-end justify-content-end">
                    <button class="btn btn-secondary dropdown-toggle action-filter-button" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Trier
                    </button>
                    <div class="dropdown-menu menu-filter" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('action_filter', {'filter': 'name'}) }}">De A à Z</a>
                        <a class="dropdown-item" href="{{ path('action_filter', {'filter': 'startdate'}) }}">Par
                            date</a>
                        <a class="dropdown-item" href="{{ path('action_filter', {'filter': 'status'}) }}">Par état</a>
                    </div>
                </div>

            </div>
        </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                {% for action in actions %}
                    {% if (action.activated == true) or (is_granted('ROLE_ADMIN')) %}
                        <div class="card cardaction hvr-glow" style="width: 18rem;">
                            <a href="{{ path('action_show', {'id': action.id}) }}">

                                <img class="card-img-top action-image-index"
                                     src="{{ vich_uploader_asset(action, 'actionFile') | default("/images/logo.png") }}"
                                     alt="Image de l'action {{ action.name }}">
                                {% if action.status == "started" %}
                                    <span class="badge badge-pill badge-primary ongoing">En cours</span>
                                {% elseif action.status == "cancelled" %}
                                    <span class="badge badge-pill badge-primary cancelled">Annulé</span>
                                {% elseif action.status == "ended" %}
                                    <span class="badge badge-pill badge-primary over">Terminé</span>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-title">
                                        {{ action.startDate ? action.startDate|date('d M Y') : '' }}
                                        {% if action.endDate %}
                                            - {{ action.endDate ? action.endDate|date('d M Y') : '' }}
                                        {% endif %}
                                    </p>
                                    <h2 class="greyOnWhite  {% if action.activated == false %} deactivated {% endif %}">{{ action.name }} {% if action.activated == false %} - Désactivée {% endif %}</h2>
                                    <p class="card-text">
                                        {% if action.editionNumber > 1 %}
                                            {{ action.editionNumber }}ème édition
                                        {% elseif action.editionNumber == 1 %}
                                            {{ action.editionNumber }}ère édition
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
