{% extends 'base.html.twig' %}

{% block title %}
    Fiche Action - {{ action.name }}

    {% if action.activated == false %}
         - Désactivée
    {% endif %}

{% endblock %}

{% block body %}
    <div class="horizontal">
        <div {% if action.activated == false %} class="deactivated" {% endif %}>
            Fiche ACTION n°{{ action.id }}

            {% if action.activated == false %}
                - Désactivée
            {% endif %}

        </div>

        <!-- Menu three dots -->
        <div class="action-mini-menu">
            <div class="action-three-dots threeDots"></div>
            <div class="action-menu menu">
                <a href="{{ path('action_edit', {'id': action.id}) }}">Modifier</a>
                <a href="{{ path('action_duplicate', {'id': action.id}) }}">Dupliquer</a>

                {% if is_granted('ROLE_ADMIN') %}

                    {% if action.activated == true %}
                        <a>{{ include('action/_delete_form.html.twig') }}</a>
                    {% elseif action.activated == false %}
                        <a href="{{ path('action_activate', {'id': action.id}) }}">Activer</a>
                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="action-header">

            <div class="action-center-left"></div>

            <div class="action-center-header">
                <h1>
                    {{ action.name }}

                    {% if action.status=="started" %}
                        <img class="status-dot" src="{{ asset('../img/action/status_pastilles/fiche_action_pastille_verte.png') }}" title="En cours" alt="En cours">
                    {% elseif action.status=="ended" %}
                        <img class="status-dot" src="{{ asset('../img/action/status_pastilles/fiche_action_pastille_bleue.png') }}" title="Terminée" alt="Terminée">
                    {% elseif action.status=="cancelled" %}
                        <img class="status-dot" src="{{ asset('../img/action/status_pastilles/fiche_action_pastille_violette.png') }}" title="Annulée" alt="Annulée">
                    {% endif %}
                </h1>

                {# Display edition Number is it is set #}
                {% if action.editionNumber %}
                    <figure class="col-6 offset-3 edition-box">
                        <img class="action-edition-style" src="{{ asset('../img/action/fond_edition.png') }}" alt="Fond vert du titre">
                        <figcaption>
                            {% if action.editionNumber > 1 %}
                                {{ action.editionNumber }}ème édition
                            {% elseif action.editionNumber == 1 %}
                                {{ action.editionNumber }}ère édition
                            {% endif %}
                        </figcaption>
                    </figure>
                {% endif %}

            </div>

            <div class="action-center-right">
                <img class="action-image" src="{{ asset('../img/action/image_placeholder.jpg') }}">
            </div>

        </div>

        <div class="action-yellow-box">
            <div class="text-center">{{ action.content }}</div>
            <hr class="action-separator">

            <div class="text-center">
                {{ action.startDate ? action.startDate|date('d M Y') : '' }}
                {% if action.endDate %}
                    - {{ action.endDate ? action.endDate|date('d M Y') : '' }}
                {% endif %}
            </div>
            <hr class="action-separator">
            <div class="text-center">
                Lieu : {{ action.location }}
            </div>
            <hr class="action-separator">
            <div class="text-center">
                {{ action.description|raw }}
            </div>
        </div>

        <div class="action-progress-box">{{ action.projectProgress }}</div>

        <div>
            {# Generate as many teams as teams associated with action when set up#}
            <div class="col-6 team-title">Equipe logistique</div>

            {# Generate as many pictures as User associated with action when set up#}
            <img class="action-member-image" src="{{ asset('../img/action/image_placeholder.jpg') }}" alt="Nom de la personne">
            <img class="action-member-image" src="{{ asset('../img/action/image_placeholder.jpg') }}" alt="Nom de la personne">

            {# Add link to button when functionality is set #}
            <img class="action-plus-image" src="{{ asset('../img/action/button_plus.png') }}" alt="Ajouter un membre">
        </div>

        <div>
            {# Generate as many teams as teams associated with action when set up#}
            <div class="col-6 team-title">Equipe de coordination</div>

            {# Generate as many pictures as User associated with action when set up#}
            <img class="action-member-image" src="{{ asset('../img/action/image_placeholder.jpg') }}" alt="Nom de la personne">
            <img class="action-member-image" src="{{ asset('../img/action/image_placeholder.jpg') }}" alt="Nom de la personne">
            <img class="action-member-image" src="{{ asset('../img/action/image_placeholder.jpg') }}" alt="Nom de la personne">

            {# Add link to button when functionality is set #}
            <img class="action-plus-image" src="{{ asset('../img/action/button_plus.png') }}" alt="Ajouter un membre">
        </div>


        <div class="action-subtitles">Organisation interne</div>
        <div class="row action-list-item">
            <div class="col-sm-2 organisation-button"><a href="#">Organigramme</a></div>
            <div class="col-sm-2 organisation-button"><a href="#">Comptes rendus</a></div>
            <div class="col-sm-2 organisation-button"><a href="#">Calendrier</a></div>
            <div class="col-sm-2 organisation-button"><a href="#">Drive</a></div>
            <div class="col-sm-2 organisation-button-plus"><a href="#">+</a></div>
        </div>

        <div class="action-subtitles">Fiches METHODE</div>
        <div class="action-methods">
            {# Dynamicaly display list of methods associated with the action when implemented #}
            <li><a href="#">Nom de la fiche méthode n°1</a></li>
            <li><a href="#">Nom de la fiche méthode n°2</a></li>
            <li><a href="#">Nom de la fiche méthode n°3</a></li>
        </div>

        <div class="action-subtitles">LIVRABLES</div>

        <div class="deliverable-box">
            <div class="action-methods">
                {# Dynamicaly display list of livrables associated with the action when implemented #}
                <li><a href="#">Livrable 1</a></li>
                <li><a href="#">Livrable 2</a></li>
                <li><a href="#">TEXTE LIBRE</a></li>
            </div>
            <div class="important-link-center">
                    <a href=""><img class="important-link-image" src="{{ asset('../img/action/pictures_link.png') }}" alt="Lien vers les images"></a>
                    <a href=""><img class="important-link-image" src="{{ asset('../img/action/video_link.png') }}" alt="Lien vers les vidéos"></a>
            </div>
        </div>
    </div>
{% endblock %}
