{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom de la catégorie</th>
                <td>{{ category.Name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">Modifier</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
