<div class="footer fixed-bottom">
    <div class="footerLink">
        <a href="http://www.thegreenergood.fr" target="_blank" title="lien vers le site TheGreenerGood.fr">thegreenergood.fr</a>
    </div>
    <div class="footerImgContainer">
        <a href="https://www.facebook.com/thegreenergoodFR" target="_blank" title="lien vers la page Facebook de The Greener Good"><img src="{{ asset('img/logos/Facebook.png') }}" alt="logo Facebook" class="footerImg"></a>
        <a href="https://www.instagram.com/the_greener_good/" target="_blank" title="lien vers le compte Instagram de The Greener Good"><img src="{{ asset('img/logos/Instagram.png') }}" alt="logo Instagram" class="footerImg"></a>
        <a href="https://twitter.com/thegreenergoodf" target="_blank" title="lien vers le compte Twitter de The Greener Good"><img src="{{ asset('img/logos/Twitter.png') }}" alt="logo Twitter" class="footerImg"></a>
        <a href="https://www.linkedin.com/company/the-greener-good/" target="_blank" title="lien vers la page LinkedIn de The Greener Good"><img src="{{ asset('img/logos/LinkedIn.png') }}" alt="logo LinkedIn" class="footerImg footerBig"></a>
        <a href="https://www.youtube.com/channel/UCHW2zAiIK5dMOJKqBSv3G4A/videos" target="_blank" title="lien vers la page YouTube de The Greener Good"><img src="{{ asset('img/logos/YouTube.png') }}" alt="logo YouTube" class="footerImg footerBig"></a>
    </div>
    <div class="footerMessage">
        <p>Ce site est réservé à l'usage des bénévoles. Ne pas diffuser.</p>
    </div>
</div>