{% extends 'base.html.twig' %}

{% block title %}Modifier une fiche méthode{% endblock %}

{% block body %}
    <div class="action-form">
        <h1>Fiche méthode n°{{ method.id }} - {{ method.name }}</h1>

        {{ include('method/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {% if is_granted('ROLE_ADMIN') %}
            {% if method.activated %}
                {{ include('method/_delete_form.html.twig') }}
            {% else %}
                <a class="btn form-button" href="{{ path('method_activate', {'id': method.id}) }}">Activer</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
