{% extends 'base.html.twig' %}

{% block title %}Method index{% endblock %}

{% block body %}

    <h1 class="greenOnWhite">Fiches méthodes</h1>
    <div class="container-center container-btn-method">
        <button class="btn btn-secondary method-btn">
            <a href="{{ path('method_new') }}">
                <span>+</span> Nouvelle fiche
            </a>
        </button>
    </div>
    <div class="container-card-method">
        {% for method in methods %}
                <div class="card cardmethod">
                    <div class="card-body">
                        <div class="card-head">
                            <h5 class="card-title">{{ method.name }}</h5>
                            <div class="dropup dropup-method">
                                <div class="threeDots" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false">
                                </div>
                                <div class="dropdown-menu menu-method" aria-labelledby="dropdownMenuButton">
                                    <a href="{{ path('method_edit', {'id': method.id}) }}">Modifier</a>
                                    <a class="pipe-link-method" href="{{ path('method_duplicate', {'id': method.id}) }}">Dupliquer</a>
                                    {% if is_granted('ROLE_ADMIN') %}

                                        {% if method.activated == true %}
                                            <a>{{ include('method/_delete_form.html.twig') }}</a>
                                        {% elseif action.activated == false %}
                                            <a href="{{ path('method_activate', {'id': action.id}) }}">Activer</a>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="card-img" src="https://picsum.photos/id/1/200/300" alt="Card image cap">
                </div>
        {% endfor %}
    </div>

{% endblock %}
