{% extends 'base.html.twig' %}

{% block title %}
    Fiche Méthode - {{ method.name }}

    {% if method.activated == false %}
        - Désactivée
    {% endif %}

{% endblock %}

{% block body %}
<div {% if method.activated == false %} class="deactivated" {% endif %}>
    <h1>Fiche Méthode n°{{ method.id }}</h1>

    {% if method.activated == false %}
        - Désactivée
    {% endif %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ method.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ method.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ method.createdAt ? method.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prerequisites</th>
                <td>{{ method.prerequisites|raw }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ method.content|raw }}</td>
            </tr>
            <tr>
                <th>Objectives</th>
                <td>{{ method.objectives }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('method_index') }}">back to list</a>

    <a href="{{ path('method_edit', {'id': method.id}) }}">edit</a>

    {% if is_granted('ROLE_ADMIN') %}

        {% if method.activated == true %}
            <a>{{ include('method/_delete_form.html.twig') }}</a>
        {% elseif method.activated == false %}
            <a href="{{ path('method_activate', {'id': method.id}) }}">Activer</a>
        {% endif %}

    {% endif %}
{% endblock %}
