{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="bloc_page_profile">
        <div class="container-profile">
            <img class="profile-img-white-paint-mobile"
                 src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
            <div class="profile-name-mobile">
                <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            </div>
            {% if app.user.id == user.id and is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="container-pen-mobile">
                    <img class="img-pen-mobile" src="{{ asset('img/profile/pen.png') }}" alt="image stylo">
                </div>
            {% endif %}
            <div class="container-vertical-green-line-top">
                <div class="vertical-green-line-top"></div>
            </div>
            <div class="container-card-img-infos">
                <div class="container-profile-img">
                    <img class="profile-img-scotch-top" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                         alt="Morceau de scotch">
                    <div class="container-img-frame">
                        {% if user.userPicture %}
                            <img class="profile-img"
                                 src="{{ vich_uploader_asset(user, 'pictureFile') | default("img/default_avatar.png") | imagine_filter('thumb') }}"
                                 alt="Image utilisateur">
                        {% endif %}
                        <img class="profile-yellow-frame-bottom"
                             src="{{ asset('img/profile/fiche_benevole_cadre.png') }}"
                             alt="cadre jaune">
                        <img class="profile-yellow-frame-top rotation180"
                             src="{{ asset('img/profile/fiche_benevole_cadre.png') }}" alt="cadre jaune">
                    </div>
                    <img class="profile-img-scotch-bottom" src="{{ asset('img/profile/fiche_benevole_scotch.png') }}"
                         alt="Morceau de scotch">
                </div>
                <div class="container-profile-infos">
                    {% if app.user.id == user.id and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('user_edit', {'id':user.id}) }}">
                            <img class="img-pen-desktop" src="{{ asset('img/profile/pen.png') }}" alt="image stylo">
                        </a>
                    {% endif %}
                    <img class="profile-img-white-paint-desktop"
                         src="{{ asset('img/profile/fiche_benevole_peinture_blanche.png') }}" alt="Peinture blanche">
                    <div class="profile-name-desktop">
                        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
                    </div>
                    <div class="profile-function">
                        <h3 class="text-center">{{ user.fonction }}</h3>
                    </div>
                    <div class="entry-date">depuis le {{ user.entryDate|date('d/m/Y') }}</div>
                    <div class="container-profile-contact-detail">
                        <div class="profile-details">
                            <div class="details container-center">
                                <h3>COORDONNÉES</h3>
                                <p>{{ user.email }}</p>
                                <p>{{ user.phone }}</p>
                                <p>
                                    {% if user.facebook %}
                                    Facebook:
                                    <a href="{{ user.facebook }}" target="_blank">
                                        {{ user.firstname }} {{ user.lastname }}
                                    </a>
                                    {% endif %}
                                    {% if user.linkedin %}
                                    <br> Linkedin:
                                    <a href="{{ user.linkedin }}" target="_blank">
                                        {{ user.firstname }} {{ user.lastname }}
                                    </a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-infos-bio-work">
                <div class="container-infos-bio">
                    <span class="green-line-top"></span>
                    <div class="bio-text">
                        <p>{{ user.description }}</p>
                    </div>
                    <span class="green-line-bottom"></span>
                </div>
                <div class="container-infos-work">
                    <div class="title-infos-work">
                        <img class="profile-img-green-paint-desktop"
                             src="{{ asset('img/profile/fiche_benevole_peinture.png') }}" alt="Peinture verte">
                        <h1>A travaillé sur</h1>
                    </div>
                    <div class="container-work-on">
                        <ul class="list-work-on">
                            {% for team in user.teams %}
                                <li>
                                    <h1>
                                        <a href="{{ path('action_show', {'id': team.action.id}) }}">{{ team.action.name }}</a>
                                    </h1>
                                </li>
                            {% endfor %}
                            {% for method in user.methods %}
                                <li>
                                    <h1>
                                        <a href="{{ path('method_show', {'id': method.id}) }}">{{ method.name }}</a>
                                    </h1>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-green-skills">
                <div class="green-skills-left">
                    <div class="title-green-skills text-center"><h3>GREEN SKILLS</h3></div>
                    <div class="circles">
                        <div class="container-circle-green-1">
                            <div class="circle-green-1"></div>
                            <h5>{{ user.greenSkills1 }}</h5>
                        </div>
                        <div class="container-circle-yellow">
                            <div class="circle-yellow"></div>
                            <h5>{{ user.greenSkills2 }}</h5>
                        </div>
                        <div class="yellow-line">
                            <div class="container-circle-green-2">
                                <div class="circle-green-2"></div>
                                <h5>{{ user.greenSkills3 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-green-line-bottom"></div>
                <div class="green-skills-right">
                    <img class="img-lemon"
                         src="{{ asset('img/profile/fiche_benevole_citron.png') }}" alt="Citron jaune">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

